<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block meta_title %}{{ settings.SITE_TITLE }}{% endblock %}</title>
        <link rel='shortcut icon' href='{% static "img/favicon.png" %}' type='image/x-icon'/ >
        <link rel="stylesheet" href="{% static "css/splash.css" %}">
    </head>
    <body id="splash">
        <header>
            <img src="{% static "img/splash/logo.png" %}" class="logo"/> 
            <h1>Veldt&shy;Hollow</h1>
        </header>
        <article>
            <h2>The best place to find articles that matter to "the middle."</h2>
            {% include "splash/mailchimp.html" %}
            <h3>We'll send you an email when our amazing content is live.</h3>
            <h3>While you're waiting, check out our <a href="https://medium.com/veldt-hollow">sneak peak</a>.</h3>
        </article>
        <footer class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="mailto:info@veldthollow.com">info@veldthollow.com</a>
                </div>
            </div>
        </footer>
        {% compress js %}
        {% include "includes/footer_scripts.html" %}
        {% endcompress %}
    </body>
</html>

