/* CKEditor style fixes */
.cke_panel_container body, .cke_editable{
    background-color: #ffffff;
    padding:10px;
}

.cke_source{
    line-height: 14px;
}

/* inline editing */
.editable-form textarea{
    line-height: 1em;
}

