#homepage
    .article-group
        padding: 20px

        h2
            text-align: center
            padding: 0 0 20px
            vertical-align: middle

            small
                vertical-align: middle
                font-style: italic

        &:nth-child(even)
            background-color: rgba(0, 0, 0, 0.3)

    .article-summary
        display: block
        min-width: 1px

        .preview-blurb
            font-size: 2em
            text-align: center
            height: 330px
            display: flex
            align-items: center

    #latest-stories
        &>div
            min-width: 1px

        .article-summary
            position: relative
            overflow: hidden
            margin-bottom: 20px

            .details
                background: rgba(255, 255, 255, 0.7)
                position: absolute
                bottom: -145px
                padding: 0 20px
                transition: bottom .5s ease-out
                width: 100%

                .blurb
                    height: 5.7em

                @media (max-width: 768px)
                    position: relative
                    bottom: 0

            &:hover .details
                bottom: 0

            .byline
                margin: 10px 0

            .category
                 font-style: italic

            .author
                color: rgb(120, 120, 120)

    #featured-author
        .author
            min-width: 1px

    .load-more
        margin: 30px auto
        padding: 10px
        width: 100%

@media (min-width: 34em) and (max-width: 48em)
    #homepage #latest-stories
        font-size: .7em
