lightGray = rgba(0, 0, 0, 0.1)
midGray = rgba(0, 0, 0, 0.3)

brand-primary = #484a3e
brand-success = #6d6e2e
brand-info = #72451c
brand-warning = #c8962c
brand-danger = #94331f
brand-accent = #ea7124
