django==1.9.1
Mezzanine==4.1.0
gunicorn==19.4.5
psycopg2==2.6.1
django-imagekit==3.3
django-redis-sessions==0.5.0
django-redis-cache==1.6.5
django-ckeditor==5.0.3

# These are needed for import from rss
#dateutils
#feedparser
