<nav class="social-icons">
    <a href="https://github.com/jsatt" rel="me" target="_blank"><i class="fa fa-github-square"></i></a>
    <a href="https://www.facebook.com/jsatt0" rel="me" target="_blank"><i class="fa fa-facebook-square"></i></a>
    <a href="https://twitter.com/jsatt" rel="me target="_blank""><i class="fa fa-twitter-square"></i></a>
    <a href="https://www.linkedin.com/in/jsatterfield" rel="me" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="https://plus.google.com/+JeremySatterfield0/" rel="me" target="_blank"><i class="fa fa-google-plus-square"></i></a>
    <a href="mailto:jsatt@jsatt.com"><i class="fa fa-envelope"></i></a>
    <a href="{% url "blog_post_feed" "rss" %}" target="_blank"><i class="fa fa-rss-square"></i></a>
</nav>

