{% overextends "blog/blog_post_list.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block body_id %}page_blog_list{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                {% if tag or category or year or month or author %}
                {% block blog_post_list_filterinfo %}
                {% if tag %}
                    {% trans "Viewing posts tagged" %} {{ tag }}
                {% else %}{% if category %}
                    {{ category }}
                {% else %}{% if year or month %}
                    {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %} {{ year }}
                {% else %}{% if author %}
                    {% trans "Viewing posts by" %} {{ author.get_full_name|default:author.username }}
                {% endif %}{% endif %}{% endif %}{% endif %}
                {% endblock %}
                {% endif %}
            </h1>
        </div>
        <article class="col-md-9">
            <div class="row">
                {% for article in blog_posts.object_list %}
                    {% if forloop.first %}
                        <div class="post col-md-12">
                            {% if article.featured_image %}
                            <a href="{{ article.get_absolute_url }}">
                                <img class="img-thumbnail" src="{{ MEDIA_URL }}{% thumbnail article.featured_image 850 380 %}">
                            </a>
                            {% endif %}
                            <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                            <h3 class="author">by {{article.user.get_full_name}}</h3>
                        </div>
                    {% else %}
                        <div class="post col-md-6">
                            {% if article.featured_image %}
                            <a href="{{ article.get_absolute_url }}">
                                <img class="img-thumbnail" src="{{ MEDIA_URL }}{% thumbnail article.featured_image 400 180 %}">
                            </a>
                            {% endif %}
                            <h4><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h4>
                            <h5 class="author">by {{article.user.get_full_name}}</h5>
                        </div>
                    {% endif %}
                {% endfor %}

                {% pagination_for blog_posts %}
            </div>
        </article>
        <aside class="col-md-3">
            <div class="ad">ADS GO RIGHT HERE</div>
            <div class="ad">ADS GO RIGHT HERE</div>
            {% include "includes/keyword_sidebar.html" %}
        </aside>
    </div>
</div>
{% endblock %}
