{% extends "base.html" %}
{% block body_id %}homepage{% endblock %}
{% block main %}
<section class="article-group">
    <div class="container">
        <section id="latest-stories" class="row">
            <h2 class="col-md-12">Latest Stories</h2>
            <div class="article-summary col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <img src="http://lorempixel.com/g/640/590/nature/4/" />
                <div class="details">
                    <h3>Where will all the cows go when we leave the prairie behind</h3>
                    <div class="blurb" >The incidence of  cows eating grasses in the prairie is troubling and what is going to happen eventually. I don’t know what we could do except for follow the cows to where they go. Which might be nowhere.</div>
                    <div class="byline">
                        <span class="category">Big Skies</span>
                        <span class="author">by Colorado</span>
                    </div>
                </div>
            </div>
            <div class="article-summary col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <img src="http://lorempixel.com/g/640/285/nightlife/5/" />
                <div class="details">
                    <h3>10 best brewers you’ve never heard of but you already love</h3>
                    <div class="blurb" >The incidence of  cows eating grasses in the prairie is troubling and what is going to happen eventually. I don’t know what we could do except for follow the cows to where they go. Which might be nowhere.</div>
                    <div class="byline">
                        <span class="category">Big Skies</span>
                        <span class="author">by Colorado</span>
                    </div>
                </div>
            </div>
            <div class="article-summary col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
                <img src="http://lorempixel.com/g/640/285/food/2/" />
                <div class="details">
                    <h3>Where will all the cows go when we leave the prairie behind</h3>
                    <div class="blurb" >The incidence of  cows eating grasses in the prairie is troubling and what is going to happen eventually. I don’t know what we could do except for follow the cows to where they go. Which might be nowhere.</div>
                    <div class="byline">
                        <span class="category">Big Skies</span>
                        <span class="author">by Colorado</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<section class="article-group">
    <div class="container">
        <section id="featured-category " class="row">
            <h2 class="col-md-12">Featured | <small><span class="category">Larder & Libations</span></small></h2>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nightlife/9/" />
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Oklahoma</div>
            </div>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nightlife/10/" />
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Oklahoma</div>
            </div>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/food/1/" />
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Oklahoma</div>
            </div>
        </section>
    </div>
</section>
<section class="article-group">
    <div class="container">
        <section id="featured-category " class="row">
            <h2 class="col-md-12">Featured Stories</h2>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nature/5/" />
                <span class="category">Nourishment</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Indiana</div>
            </div>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nature/4/" />
                <span class="category">The Rough Hand</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Wyoming</div>
            </div>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nature/3/" />
                <span class="category">The Sovereign</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Missouri</div>
            </div>
            <div class="article-summary col-sm-4">
                <div class="preview-blurb">Every once in a while we will have a title that won't have a picture.  Like this one.</div>
                <span class="category">Long Play</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Wyoming</div>
            </div>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nature/6/" />
                <span class="category">Larder &amp; Libations</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Oklahoma</div>
            </div>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nature/2/" />
                <span class="category">Big Skies</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Colorado</div>
            </div>
        </section>
    </div>
</section>
<section class="article-group">
    <div class="container">
        <section id="featured-author" class="row">
            <h2 class="col-md-12">Featured Author | <small><span class="author">by Wyoming</span></small></h2>
            <div class="author col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-0">
                <img src="http://lorempixel.com/g/280/280/people/6/" />
                <div class="bio">Abridged bio goes here and here and here and here and here and here and here and here and here and</div>
            </div>
            <div class="article-summary col-sm-4 col-md-3">
                <img src="http://lorempixel.com/g/280/280/nightlife/9/" />
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Wyoming</div>
            </div>
            <div class="article-summary col-sm-4 col-md-3">
                <img src="http://lorempixel.com/g/280/280/nightlife/10/" />
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Wyoming</div>
            </div>
            <div class="article-summary col-sm-4 col-md-3">
                <img src="http://lorempixel.com/g/280/280/food/1/" />
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Wyoming</div>
            </div>
        </section>
    </div>
</section>
<section class="article-group">
    <div class="container">
        <section id="featured-category " class="row">
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nature/5/" />
                <span class="category">Nourishment</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Indiana</div>
            </div>
            <div class="article-summary col-sm-4">
                <div class="preview-blurb">Every once in a while we will have a title that won't have a picture.  Like this one.</div>
                <span class="category">Long Play</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Wyoming</div>
            </div>
            <div class="article-summary col-sm-4">
                <img src="http://lorempixel.com/g/360/330/nature/2/" />
                <span class="category">Big Skies</span>
                <h4>Title of article will go here and here and here and here</h4>
                <div class="author">by Colorado</div>
            </div>
        </section>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="load-more btn btn-primary">Load More</div>
        </div>
    </div>
</section>

{% endblock main %}
