#article_page header {
  text-align: center;
}
#article_page .categories,
#article_page .author,
#article_page .tags,
#article_page .author-bio,
#article_page .post p:not(.embed) {
  margin-left: 80px;
}
#article_page .post .embed img {
  width: 100%;
}
#article_page .post blockquote {
  padding-left: 0;
  margin-left: 120px;
}
#article_page .post blockquote p:not(.embed) {
  margin-left: 20px;
}
#article_page .post .tags li>a:before {
  content: '#';
}
#article_page .author-bio {
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
#article_page .author-bio img {
  border-radius: 50%;
}
#article_page .author-bio figure {
  text-align: center;
}
#article_page .author-bio .bio {
  font-size: 0.8em;
}
#article_page .comments {
  background-color: rgba(0,0,0,0.1);
}

.author-header {
  padding-top: 40px;
}
.author-header h1 {
  text-align: center;
}
.author-header .author-info h1 {
  padding: 3% 0;
  text-align: left;
}

/* Site */
body {
  font-size: 18px;
}
a,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
/* Layout */
body > header {
  background-color: rgba(0,0,0,0.3);
}
body > header .container {
  padding: 20px 20px 5px;
  position: relative;
}
body > header #title {
  height: 70px;
  width: 230px;
  background-image: url("http://lorempixel.com/g/230/70/nature/");
  text-indent: -9999em;
  margin: 10px auto 20px;
  text-align: center;
}
body > header nav {
  text-align: center;
}
body > header nav .navbar-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body > header nav .navbar-nav {
    justify-content: center;
    flex-flow: row wrap;
  }
}
body > header .social-icons {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  padding: 10px 0;
  font-size: 18px;
}
body > footer {
  background-color: rgba(0,0,0,0.3);
  padding: 30px 0;
}
body > footer .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}
body > footer .branding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body > footer .branding .logo {
  text-align: center;
}
body > footer .branding .copyright {
  align-self: bottom;
}
body > footer ul {
  list-style: none;
  padding-left: 0;
}

#page_blog_list h1 {
  text-align: center;
}
#page_blog_list article {
  min-width: 1px;
}
#page_blog_list .post {
  min-width: 1px;
  text-align: center;
}

/* CKEditor style fixes */
.cke_panel_container body,
.cke_editable {
  background-color: #fff;
  padding: 10px;
}
.cke_source {
  line-height: 14px;
}
/* inline editing */
.editable-form textarea {
  line-height: 1em;
}

#homepage .article-group {
  padding: 20px;
}
#homepage .article-group h2 {
  text-align: center;
  padding: 0 0 20px;
  vertical-align: middle;
}
#homepage .article-group h2 small {
  vertical-align: middle;
  font-style: italic;
}
#homepage .article-group:nth-child(even) {
  background-color: rgba(0,0,0,0.3);
}
#homepage .article-summary {
  display: block;
  min-width: 1px;
}
#homepage .article-summary .preview-blurb {
  font-size: 2em;
  text-align: center;
  height: 330px;
  display: flex;
  align-items: center;
}
#homepage #latest-stories>div {
  min-width: 1px;
}
#homepage #latest-stories .article-summary {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
#homepage #latest-stories .article-summary .details {
  background: rgba(255,255,255,0.7);
  position: absolute;
  bottom: -145px;
  padding: 0 20px;
  transition: bottom 0.5s ease-out;
  width: 100%;
}
#homepage #latest-stories .article-summary .details .blurb {
  height: 5.7em;
}
@media (max-width: 768px) {
  #homepage #latest-stories .article-summary .details {
    position: relative;
    bottom: 0;
  }
}
#homepage #latest-stories .article-summary:hover .details {
  bottom: 0;
}
#homepage #latest-stories .article-summary .byline {
  margin: 10px 0;
}
#homepage #latest-stories .article-summary .category {
  font-style: italic;
}
#homepage #latest-stories .article-summary .author {
  color: #787878;
}
#homepage #featured-author .author {
  min-width: 1px;
}
#homepage .load-more {
  margin: 30px auto;
  padding: 10px;
  width: 100%;
}
@media (min-width: 34em) and (max-width: 48em) {
  #latest-stories {
    font-size: 0.7em;
  }
}

