@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("font-awesome.min.css");
body {
  font-size: 18px;
  font-family: Raleway, Helvetica, sans-serif;
}
a,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
body > header {
  background-color: rgba(0,0,0,0.3);
}
body > header .container {
  padding: 20px 20px 5px;
  position: relative;
}
body > header #title {
  height: 70px;
  width: 230px;
  background-image: url("http://lorempixel.com/g/230/70/nature/");
  text-indent: -9999em;
  margin: 10px auto 20px;
  text-align: center;
}
body > header nav {
  text-align: center;
}
body > header nav .navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body > header nav .navbar-nav {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}
body > header .social-icons {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  padding: 10px 0;
  font-size: 18px;
}
body > footer {
  background-color: rgba(0,0,0,0.3);
  padding: 30px 0;
}
body > footer .row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
body > footer .branding {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
body > footer .branding .logo {
  text-align: center;
}
body > footer .branding .copyright {
  -webkit-align-self: bottom;
  align-self: bottom;
  -ms-flex-item-align: bottom;
}
body > footer ul {
  list-style: none;
  padding-left: 0;
}
.btn-accent {
  color: #fff;
  background-color: #ea7124;
  border-color: #ea7124;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
}
.btn-accent:hover {
  color: #fff;
  background-color: #de6315;
  border-color: #d96115;
}
.btn-accent:focus,
.btn-accent.focus {
  color: #fff;
  background-color: #de6315;
  border-color: #d96115;
}
.btn-accent:active,
.btn-accent.active,
.open > .btn-accent.dropdown-toggle {
  color: #fff;
  background-color: #de6315;
  border-color: #d96115;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.btn-accent:active:hover,
.btn-accent.active:hover,
.open > .btn-accent.dropdown-toggle:hover,
.btn-accent:active:focus,
.btn-accent.active:focus,
.open > .btn-accent.dropdown-toggle:focus,
.btn-accent:active.focus,
.btn-accent.active.focus,
.open > .btn-accent.dropdown-toggle.focus {
  color: #fff;
  background-color: #cc5c14;
  border-color: #b95312;
}
.btn-accent.disabled:focus,
.btn-accent:disabled:focus,
.btn-accent.disabled.focus,
.btn-accent:disabled.focus {
  background-color: #ea7124;
  border-color: #ea7124;
}
.btn-accent.disabled:hover,
.btn-accent:disabled:hover {
  background-color: #ea7124;
  border-color: #ea7124;
}
#homepage .article-group {
  padding: 20px;
}
#homepage .article-group h2 {
  text-align: center;
  padding: 0 0 20px;
  vertical-align: middle;
}
#homepage .article-group h2 small {
  vertical-align: middle;
  font-style: italic;
}
#homepage .article-group:nth-child(even) {
  background-color: rgba(0,0,0,0.3);
}
#homepage .article-summary {
  display: block;
  min-width: 1px;
}
#homepage .article-summary .preview-blurb {
  font-size: 2em;
  text-align: center;
  height: 330px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#homepage #latest-stories>div {
  min-width: 1px;
}
#homepage #latest-stories .article-summary {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
#homepage #latest-stories .article-summary .details {
  background: rgba(255,255,255,0.7);
  position: absolute;
  bottom: -145px;
  padding: 0 20px;
  -webkit-transition: bottom 0.5s ease-out;
  -moz-transition: bottom 0.5s ease-out;
  -o-transition: bottom 0.5s ease-out;
  -ms-transition: bottom 0.5s ease-out;
  transition: bottom 0.5s ease-out;
  width: 100%;
}
#homepage #latest-stories .article-summary .details .blurb {
  height: 5.7em;
}
@media (max-width: 768px) {
  #homepage #latest-stories .article-summary .details {
    position: relative;
    bottom: 0;
  }
}
#homepage #latest-stories .article-summary:hover .details {
  bottom: 0;
}
#homepage #latest-stories .article-summary .byline {
  margin: 10px 0;
}
#homepage #latest-stories .article-summary .category {
  font-style: italic;
}
#homepage #latest-stories .article-summary .author {
  color: #787878;
}
#homepage #featured-author .author {
  min-width: 1px;
}
#homepage .load-more {
  margin: 30px auto;
  padding: 10px;
  width: 100%;
}
@media (min-width: 34em) and (max-width: 48em) {
  #homepage #latest-stories {
    font-size: 0.7em;
  }
}
#article_page header {
  text-align: center;
}
#article_page .categories,
#article_page .author,
#article_page .tags,
#article_page .author-bio,
#article_page .post p:not(.embed) {
  margin-left: 80px;
}
#article_page .post .embed img {
  width: 100%;
}
#article_page .post blockquote {
  padding-left: 0;
  margin-left: 120px;
}
#article_page .post blockquote p:not(.embed) {
  margin-left: 20px;
}
#article_page .post .tags li>a:before {
  content: '#';
}
#article_page .author-bio {
  background-color: rgba(0,0,0,0.1);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
#article_page .author-bio img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#article_page .author-bio figure {
  text-align: center;
}
#article_page .author-bio .bio {
  font-size: 0.8em;
}
#article_page .comments {
  background-color: rgba(0,0,0,0.1);
}
#page_blog_list h1 {
  text-align: center;
}
#page_blog_list article {
  min-width: 1px;
}
#page_blog_list .post {
  min-width: 1px;
  text-align: center;
}
.author-header {
  padding-top: 40px;
}
.author-header h1 {
  text-align: center;
}
.author-header .author-info h1 {
  padding: 3% 0;
  text-align: left;
}
.cke_panel_container body,
.cke_editable {
  background-color: #fff;
  padding: 10px;
}
.cke_source {
  line-height: 14px;
}
.editable-form textarea {
  line-height: 1em;
}

/*# sourceMappingURL=maps/main.css.map */
